body {
background-image: url(bg.jpg);
background-size: cover;
background-attachment: fixed;
}

h1 {
  margin-bottom: 10px;
}
.search__btn {
  font-size: 15px;
}

.more__btn {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
}

main {
  color: white;
}

/* .search__results {
  background-color: black;
  opacity: 0.5;
} */

.header__div {
  width: 400px;
}

.progress_msg {
  color: #9c04bb;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0 15px 0;
}

.number__of__results {
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}

#cuisine__field {
  width: 400px;
  height: 40px;
  font-size: 20px;
}

.select__boxes {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.distance__box {
  width: 150px;
}

.sort__box {
  width: 150px;
}

.row {
  margin: 15px 0 15px 50px;
}

.details p {
  font-weight: bold;
  margin: 5px 30px 5px 40px;
}

.details p span {
  font-weight: normal;
}

.image {
  margin-left: 20px;
}
