body {
background-image: url(bg.png);
background-size: cover;
background-attachment: fixed;
}

h1 {
  margin: 10px 0;
  font-weight: 600;
  color: #4bb748;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  color: #4bb748;
  margin-top: 25%;
  overflow: scroll;
  height: 550px;
}

.header__div {
  width: 100%;
  position: fixed;
}

.search__btn {
  margin: 5px;
  background-color: #4bb748;
  border: 1px solid #4bb748;
}

.select__box {
  text-align: center;
  width: 120px;
  margin: 7px auto;
}

.select__box select {
  color: #4bb748;
  border: 1px solid #4bb748;
}

.filter label {
  font-size: 20px;
  color: #4bb748;
}

.row {
  margin: 15px 0 15px 50px;

}

.details p {
  font-weight: bold;
  margin: 5px 30px 5px 40px;
}

.details p span {
  font-weight: normal;
  color: black;
}

.container {
  width: 75%;
  height: 800px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid white;
  overflow: auto;
}
